.login-page {
    display: flex;
    width: 500px;
    margin-top: 50px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.login-page .login-focus {
    color: #974751;
}

.login-page .login-header {
    width: 100%;
    align-items: center;
    margin-bottom: 60px;
}

.login-header h2 {
    display: inline;
    padding: 20px;
    font-size: 40px;
}

.login-page input {
    display: flex;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #BF5967;
    margin-bottom: 60px;
    height: 50px;
    width: 400px;
    color: white;
    font-size: 25px;
    outline: none;
    transition: 250ms ease-in-out;
}

.login-page input:focus {
    width: 400px;
    border-bottom: 5px solid #BF5967;
}

.login-page .form-button {
    width: 400px;
    height: 70px;
    border: none;
    outline: none;
    margin-bottom: 15px;
    font-size: 25px;
    background-color: #984950;
    color: white;
}